<h3>Tickets:</h3>

<table>
  <thead>
    <th>Name</th>
    <th>Assignee</th>
    <th>Status</th>
    <th>Tags</th>
    <th></th>
  </thead>
  <tbody>
    <% @tickets.each do |ticket| %>
      <%= render "ticket", ticket: ticket %>
    <% end %>  
  </tbody>
</table>
