<h3>Projects:</h3>

<% if @projects.empty? %>

<% else %>
<ul>
<% @projects.each do |project| %>
  <li>
    <%= link_to project.name, project_path(project) %>
    <% if is_logged_in? %>
      <%= link_to "Edit", edit_project_path(project) %>
      <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure want to delete '#{project.name}'? It will wipe out all corresponding tickets as well." } %>
    <% end %>
  </li>
<% end %>
</ul>
<% end %>

<% if is_logged_in? %>
  <%= link_to "Create Project", new_project_path %>
<% end %>
<br />
