<h3>Projects:</h3>

<table>
  <thead>
    <th>Name</th>
    <th>Open Tickets</th>
    <th>Total Tickets</th>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td>
        <%= link_to project.name, project_path(project) %>
        <p><%= project.description %></p>
      </td>
      <td>TEMP VAL</td>
      <td><%= project.tickets.length %></td>
    </tr>
    <% end %>  
  </tbody>
</table>

<% if is_logged_in? %>
  <%= link_to "New Project", new_project_path %>
<% end %>
<br />
